asgiref==3.11.0
certifi==2026.1.4
charset-normalizer==3.4.4
crispy-bootstrap5==2024.2
Django==4.2.13
django-crispy-forms==2.1
django-jazzmin==3.0.0
django-nested-admin==4.1.6
google-api-core==2.29.0
google-api-python-client==2.108.0
google-auth==2.47.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.72.0
gunicorn==21.2.0
httplib2==0.31.1
idna==3.11
oauthlib==3.3.1
packaging==25.0
Pillow==9.5.0
proto-plus==1.27.0
protobuf==6.33.4
psycopg2-binary==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyparsing==3.3.1
python-decouple==3.8
python-dotenv==1.0.0
python-monkey-business==1.1.0
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
whitenoise==6.6.0
